h1 {
  color: white;
  font-size: 50px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}

h2 {
  margin-top: 20px;
  color: white;
  font-size: 35px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}

.simple_form {
  width: 30%;
}

.select2-results__option {
  color: #000;
}

.select2.select2-container.select2-container--default {
  width: 100% !important;
}

.field {
  color: white;
}
