.modal-content {
  background-color: rgba(27, 27, 28, 0.9);
}

.modal-title {
  color: #FFF;
}

ul {
  list-style-type: none;
  color: rgba(255, 255, 255, 0.9);
}

.close {
  color: rgba(255, 255, 255, 0.8);
  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }
}

i.fas.fa-trash-alt {
    color: #17a2b8;
}
